<h1> Welcome to Super Rentals </h1>

We hope you find exactly what you're looking for in a place to stay.

<h2>Announcements</h2>
<ul>
  {{#each model.announcements as |announcement|}}
    {{announcement-tile announcement=announcement destroyAnnouncement="destroyAnnouncement"}}
    {{log announcement}}
  {{/each}}
</ul>
{{new-announcement saveAnnouncement="saveAnnouncement"}}

<h2>Available Rentals</h2>
<ul>
  {{#each model.rentals as |rental|}}
    {{rental-tile rental=rental update="update" destroyRental="destroyRental"}}
    {{log rental.city}}
  {{/each}}
</ul>
{{new-rental save2="save3"}}
{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
